.formSearch input[type="text"]{
border-radius: 5px;
padding: 5px;
background-color: #ccc;
border: none;
}

.formSearch input[type="submit"]{
    border-radius: 5px;
    background-color: #007bff;
    margin: 0 10px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.formSearch input[type="submit"]:hover{

    background-color: #0265ce;

}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonPost {
    padding: 10px;
    margin: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.buttonPost:hover {
    background-color: #0056b3;
}



.post{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width:700px;
    background-color: #bbb9b9;
}

.post button{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post button:hover {
    background-color: #0056b3;
}

.content{
    word-break: break-word;


}

.post .author a{
    color: black;
}

.aAuthor{
    color: rgb(38, 0, 255);
}

.aAuthor:hover{
    color: rgb(29, 2, 182);
}

@media (max-width: 800px){
    .navUl{
        padding-top: 10px;
    }

    .formSearch{
        padding-top: 10px;
    }

    .post{
        width: 80%;
    }
    
}