main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.buttonLike{
    display: flex;
    align-items: center;
}

.like{
    margin: 0 5px 0 10px;

}

.like span {
    font-size: 30px;
    margin: 0 auto;
    color: #009688;
}

.dislike{
    margin: 0 5px 0 10px;

}

.dislike span {
    font-size: 30px;
    margin: 0 auto;
    color: #ff5252;

}



.btnDelete {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.btnDelete:hover {
    background-color: #007166;


}

.sectionComment{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comment{
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;


}

.authorComment{
    color: black;
    text-decoration: none;
}

.date{
    display:inline-block;
    width: 10ch;
    height: 1em;
    overflow: hidden;
}



.commentArea{
    border: 1px solid black;
    width: 500px;
    height: 100px;
}



.buttonComment button{
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.buttonComment button:hover {
    background-color: #007166;


}

