main{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

.category{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}