body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-size: 13px;
    background-color: #0158b6;
    color: #fff;
    padding: 15px 0;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}



nav ul li {
    margin: 0 15px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

