
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supprimer poste</title>

    <link rel="stylesheet" href="/static/css/delete.css">
</head>
<body>
    <main class="container">
        <h1>Supprimer le poste</h1>
        <p>Êtes-vous sûr de vouloir supprimer ce message ?</p>
        <h2>{{.Post.Title}}</h2>
        <p>{{.Post.Content}}</p>
        <p>Author: {{.Post.Author}}</p>
    
        <form action="/delete/{{.Post.Id}}" method="post">
            <button type="submit">Oui, supprimer</button>
        </form>
        <a class="back" href="/info/{{.Post.Id}}">Non, revenir en arrière</a>
    </main>

</body>
</html>