<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Index Page</h1>
        <nav>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            <a href="/post">poste</a>
            <a href="/newpost">newposte</a>
        </nav>
    </header>
    <main>
        <section class="posts">
            {{range .}}
            <article>
                <h2>{{.Title}}</h2>
                <p>{{.Content}}</p>
                <p>Author: {{.Author}}</p>
                <p>Date: {{.Date}}</p>
                <p>Likes: {{.Like}} Dislikes: {{.Dislike}}</p>
            </article>
            {{end}}
        </section>
    </main>














    <nav>
        <a href="/addpost">Add Post</a>
        <a href="/logout">Logout</a>
    </nav>
    <div>
        {{ range . }}
            <div class="post">
                <h2>{{ .Title }}</h2>
                <p>{{ .Content }}</p>
                <p><em>Posted by {{ .Author }} on {{ .Date }}</em></p>
            </div>
        {{ end }}
    </div>
</body>
</html> 

