<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Forum</title>
    <link rel="stylesheet"  href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navUl">
                <li>
                    <a class="nav-link" href="/index">Menu</a>
                </li>
                <li>
                    <a class="nav-link" href="/profile">Votre profile</a>
                </li>
                <li>
                    <a  href="/logout">Se connecter</a>
                </li>
            </ul>
            <form class="formSearch" action="/search" method="get">
                <input type="text" name="q" placeholder="...">
                <input type="submit" value="Rechercher">
            </form>
        </nav>
    </header>

    <main>
        <h1>Forum</h1>

        <a href="/post"> <button class="buttonPost" type="button">Créer un poste</button></a>


        {{range .}}
        <section class="post">
            <section class="">
                <h4>{{.Category}}</h4>
                <h3>{{.Title}}</h3>
            </section>
            <section>
                <p class="content">{{.Content}}</p>
                <a href="/info/{{.Id}}"><button type="button">Voir le post</button></a>
            </section>
            <section>
                <span>Poster par <a class="aAuthor" href="/user/{{.Author}}">{{.Author}}</a></span>
            </section>
        </section>
        {{end}}

    </main>
   
</body>

</html>

