<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <!-- <link rel="stylesheet" href="../static/login.css"> -->

</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" method="post" action="/login">
        <label for="pseudo">Username:</label>
        <input type="text" id="pseudo" name="pseudo">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
        
    </form>
    <a class="linkRegister" href="/register">register</a>
</body>
</html>
