<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/post.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navUl">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Votre profile</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Se conecter</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Créer votre poste</h1>
        <section class="container mt-5">
            <form action="/post" method="POST">
                <section>
                    <label for="inputTitle">Titre du poste</label>
                    <input type="text" id="inputTitle" name="inputTitle" required><br><br>
                </section>
                <section>
                    <label for="inputContent">Contenue du poste</label>
                    <textarea id="inputContent" name="inputContent" rows="5" required></textarea><br><br>
                </section>
                <section>
                    <label for="category">Catégorie</label>
                    <select class="selectCat" id="category" name="category">
                        <option value="Technology">Technologie</option>
                        <option value="Travel">Voyage</option>
                        <option value="Food">Nourriture</option>
                        <option value="Sport">Sport</option>
                        <option value="Info">Info</option>
                        <!-- <option value="Voyage">Voyage</option> -->
                    </select>
                </section>
                <button class="btnCategory" type="submit">Poster votre poste</button>
            </form>
        </section>

    </main>

</body>

</html>