<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/post.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navUl">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Créer votre poste</h1>
        <form action="/post" method="POST">
            <label for="inputTitle">Title:</label>
            <input type="text" id="inputTitle" name="inputTitle" required>
            
            <label for="inputContent">Content:</label>
            <textarea id="inputContent" name="inputContent" rows="4" required></textarea>
            
            <label for="category">Category:</label>
            <select class="category" id="category" name="category">
                {{range .Categories}}
                    <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
            
            <button class="btn" type="submit">Submit</button>
        </form>

    </main>

</body>

</html>