
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Post.Title}}</title>
</head>
<body>
    <nav>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/post">poste</a>
        <a href="/newpost">newposte</a>
    
    </nav>

    <h1>{{.Post.Title}}</h1>
    <p>{{.Post.Content}}</p>
    <p>Author: {{.Post.Author}}, Date: {{.Post.Date}}</p>
    <form action="/like" method="post">
        <input type="hidden" name="postid" value="{{.Post.Id}}">
        <button type="submit">Like ({{.Post.Like}})</button>
    </form>
    <form action="/dislike" method="post">
        <input type="hidden" name="postid" value="{{.Post.Id}}">
        <button type="submit">Dislike ({{.Post.Dislike}})</button>
    </form>
    <h2>Comments</h2>
    {{range .Comment}}
    <div>
        <p>{{.Content}}</p>
        <p>Author: {{.Author}}, Date: {{.Date}}</p>
    </div>
    {{end}}
    <h3>Add a Comment</h3>
    <form method="post" action="/comment">
        <input type="hidden" name="postid" value="{{.Post.Id}}">
        <textarea name="content"></textarea>
        <button type="submit">Submit</button>

    </form>

    <a href="/login">déconnexion</a>
</body>
</html>




<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.Title}}</title>

</head>
<body>
    <header>
        <h1>{{.Post.Title}}</h1>
        <p>by {{.Post.Author}} on {{.Post.Date}}</p>
    </header>

    <main>
        <section>
            <img src="/images/{{.Post.Image}}" alt="Post Image">
            <p>{{.Post.Content}}</p>
        </section>

        <section>
            <h2>Interactions</h2>
            <form action="/like" method="post">
                <input type="hidden" name="postid" value="{{.Post.Id}}">
                <button type="submit">Like</button> ({{.Post.Like}})
            </form>
            <form action="/dislike" method="post">
                <input type="hidden" name="postid" value="{{.Post.Id}}">
                <button type="submit">Dislike</button> ({{.Post.Dislike}})
            </form>
        </section>

        <section>
            <h2>Comments</h2>
            {{range .Comment}}
                <div class="comment">
                    <p><strong>{{.AuthorComment}}</strong> on {{.DateComment}}</p>
                    <p>{{.ContentComment}}</p>
                </div>
            {{end}}
            <form action="/comment" method="post">
                <input type="hidden" name="postid" value="{{.Post.Id}}">
                <textarea name="content" placeholder="Add a comment" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>
</body>
</html> -->
