<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre profil</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/profile.css">

    <script defer src="../script/userImg.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-all">
                <li><a href="./form.html">Accueil</a></li>
                <li><a href="./profil.html">Profil</a></li>
                
            </ul>
            <ul>
                <li class="deconexion"><a href="./conexion.html">Déconnexion</a></li>
                <img src="../img/user-profil.png" id="profile-image" alt="userInvalid" class="userInvalid">
            </ul>
        </nav>
    </header>

    <main>
        <!-- nom utilisateur /email /mdp  -->
        <section class="user">
            <section class="user-info">
                <h2>Profil</h2>
                <p>Nom :  </p>
                <p>Email :  </p>
                <p>Mot de passe :  </p>

                <button class="btnUserInfo" href="">Modifier votre profil</button>
            </section>
    
            <section class="user-pictur">
                <img class="avatar" src="../static/img/user.png" id="profile-image2" alt="Avatar" >
                <input type="file" id="image-upload" accept="image/*">
                <button class="btnPictur" id="upload-button">Changer l'image de profil</button>
            </section>

        </section>





    </main>



    <footer>
        <p>Forum &copy; 2024. Tous droits réservés.</p>
    </footer>
    
</body>
</html>