<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/register.css">

</head>
<body>
    <h1>Register</h1>
    <form id="registerForm" method="post" action="/register">
        <label for="pseudo">Username:</label>
        <input type="text" id="pseudo" name="pseudo">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Register</button>
    </form>
    <a class="linkLogin" href="./login.html">Login</a>
</body>
</html>
