<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulations</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/regulations.css">

    <script defer src="../script/regulation.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-all">
                <li><a href="./form.html">Accueil</a></li>
                <li><a href="./profil.html">Profil</a></li>
                
            </ul>
            <ul>
                <li class="deconexion"><a href="./conexion.html">Déconnexion</a></li>
                <img src="../img/user-profil.png" id="profile-image" alt="userInvalid" class="userInvalid">
            </ul>
        </nav>
    </header>
    <main>


        <!-- <button id="1">Afficher</button>
        <div id="1.1">le Texte cache. </div> -->
        
        <br><br>
    
        <button id="2">Afficher</button>
        <div id="2.1">le Texte cache. </div>




        <h1>Réglementation</h1>
        <div class="1div_pc">
            <button id="1btnPC"><strong>1. Politique de Confidentialité</strong></button>
            <p id="1pPC">
                Forum2Etoile <br>
                Date de mise à jour : 25/06/2024<br>
                <br>
                Introduction :<br>
                La présente Politique de Confidentialité décrit comment Forum2Etoile (ci-après « le Forum ») collecte, utilise et protège les informations personnelles des utilisateurs. En accédant à https://fr.forum2etoile.com/, vous acceptez les termes de cette politique.<br>
                <br>
                Informations collectées :<br>
                Nous collectons des informations lorsque vous vous inscrivez sur notre site, participez à des discussions, remplissez des formulaires, ou utilisez d'autres fonctionnalités du site.<br>
                <br>
                Informations personnelles : Nom, adresse e-mail, numéro de téléphone.<br>
                Données de navigation : Adresse IP, type de navigateur, temps de visite.<br>
                Utilisation des informations :<br>
                <br>
                Gestion du compte utilisateur.<br>
                Amélioration du service.<br>
                Envoi de notifications importantes et d'informations sur les mises à jour.<br>
                Analyse des comportements des utilisateurs pour améliorer le contenu du forum.<br>
                Partage des informations :<br>
                <br>
                Vos informations ne seront pas vendues, échangées ou transférées à des tiers sans votre consentement, sauf si requis par la loi.<br>
                <br>
                Protection des informations :<br>
                <br>
                Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles. Les données sensibles sont cryptées via SSL.<br>
                <br>
                Vos droits :<br>
                <br>
                Accès : Vous avez le droit de demander une copie de vos données personnelles.<br>
                Rectification : Vous pouvez demander la correction des informations inexactes.<br>
                Suppression : Vous pouvez demander la suppression de vos données personnelles.<br>
                Opposition : Vous pouvez vous opposer au traitement de vos données.<br>
                Pour exercer ces droits, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                <br>
                Modifications de la Politique de Confidentialité :<br>
                <br>
                Cette politique peut être mise à jour de temps en temps. Nous vous notifierons de tout changement sur notre site.<br>
                <br>
                Contact :<br>
                <br>
                Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
            </p>
            


            <button id="2btnPC"><strong>2. Politique de Cookies</strong></button>
            <p id="2pPC">
                Forum2Etoile<br>
                Date de mise à jour : 25/06/2024<br>
                <br>
                Introduction :<br>
                Cette politique de cookies explique comment Forum2Etoile utilise des cookies et technologies similaires pour reconnaître les utilisateurs lorsqu'ils visitent notre <br>
                <br>
                Qu'est-ce qu'un cookie ?<br>
                <br>
                Un cookie est un petit fichier texte déposé sur votre appareil lorsque vous visitez un site web. Les cookies nous aident à améliorer votre expérience en <br>
                <br>
                Types de cookies que nous utilisons :<br>
                <br>
                Cookies essentiels : Indispensables pour le bon fonctionnement du site.<br>
                Cookies de performance : Nous aident à comprendre comment les utilisateurs interagissent avec le site.<br>
                Cookies de fonctionnalité : Retiennent vos préférences.<br>
                Cookies de ciblage : Utilisés pour vous proposer des publicités pertinentes.<br>
                <br>
                Gestion des cookies :<br>
                <br>
                Vous pouvez contrôler et gérer les cookies via les paramètres de votre navigateur. Notez que la désactivation des cookies peut affecter votre expérience <br>
                <br>
                Contact :<br>
                Pour toute question sur notre politique de cookies, contactez-nous à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
            </p>
            
        </div>

    </main>

    <footer>

    </footer>


</body>
</html>