<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulations</title>

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/regulations.css">

    <script defer src="../script/regulation.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-all">
                <li><a href="./form.html">Accueil</a></li>
                <li><a href="./profil.html">Profil</a></li>
                
            </ul>
            <ul>
                <li class="deconexion"><a href="./conexion.html">Déconnexion</a></li>
                <img src="../img/user-profil.png" id="profile-image" alt="userInvalid" class="userInvalid">
            </ul>
        </nav>
    </header>
    <main>


        <!-- <button id="1">Afficher</button>
        <div id="1.1">le Texte cache. </div>
        
        <br><br>
    
        <button id="2">Afficher</button>
        <div id="2.1">le Texte cache. </div> -->

        <h1>Réglementation</h1>
        <section class="allRegulation">
            <div class="divPC1">
                <button class="btnPC1" id="btnPC1"><strong>1. Politique de Confidentialité</strong></button>
                <p id="pPC1">
                    Forum2Etoile <br>
                    Date de mise à jour : 25/06/2024<br>
                    <br>
                    Introduction :<br>
                    La présente Politique de Confidentialité décrit comment Forum2Etoile (ci-après « le Forum ») collecte, utilise et protège les informations personnelles des utilisateurs. En accédant à https://fr.forum2etoile.com/, vous acceptez les termes de cette politique.<br>
                    <br>
                    Informations collectées :<br>
                    Nous collectons des informations lorsque vous vous inscrivez sur notre site, participez à des discussions, remplissez des formulaires, ou utilisez d'autres fonctionnalités du site.<br>
                    <br>
                    Informations personnelles : Nom, adresse e-mail, numéro de téléphone.<br>
                    Données de navigation : Adresse IP, type de navigateur, temps de visite.<br>
                    Utilisation des informations :<br>
                    <br>
                    Gestion du compte utilisateur.<br>
                    Amélioration du service.<br>
                    Envoi de notifications importantes et d'informations sur les mises à jour.<br>
                    Analyse des comportements des utilisateurs pour améliorer le contenu du forum.<br>
                    Partage des informations :<br>
                    <br>
                    Vos informations ne seront pas vendues, échangées ou transférées à des tiers sans votre consentement, sauf si requis par la loi.<br>
                    <br>
                    Protection des informations :<br>
                    <br>
                    Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles. Les données sensibles sont cryptées via SSL.<br>
                    <br>
                    Vos droits :<br>
                    <br>
                    Accès : Vous avez le droit de demander une copie de vos données personnelles.<br>
                    Rectification : Vous pouvez demander la correction des informations inexactes.<br>
                    Suppression : Vous pouvez demander la suppression de vos données personnelles.<br>
                    Opposition : Vous pouvez vous opposer au traitement de vos données.<br>
                    Pour exercer ces droits, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                    <br>
                    Modifications de la Politique de Confidentialité :<br>
                    <br>
                    Cette politique peut être mise à jour de temps en temps. Nous vous notifierons de tout changement sur notre site.<br>
                    <br>
                    Contact :<br>
                    <br>
                    Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                </p>
                
            </div>
    
            <div class="divPC2">
                <button class="btnPC2" id="btnPC2"><strong>2. Politique de Cookies</strong></button>
                <p id="pPC2">
                    Forum2Etoile<br>
                    Date de mise à jour : 25/06/2024<br>
                    <br>
                    Introduction :<br>
                    Cette politique de cookies explique comment Forum2Etoile utilise des cookies et technologies similaires pour reconnaître les utilisateurs lorsqu'ils visitent notre <br>
                    <br>
                    Qu'est-ce qu'un cookie ?<br>
                    <br>
                    Un cookie est un petit fichier texte déposé sur votre appareil lorsque vous visitez un site web. Les cookies nous aident à améliorer votre expérience en <br>
                    <br>
                    Types de cookies que nous utilisons :<br>
                    <br>
                    Cookies essentiels : Indispensables pour le bon fonctionnement du site.<br>
                    Cookies de performance : Nous aident à comprendre comment les utilisateurs interagissent avec le site.<br>
                    Cookies de fonctionnalité : Retiennent vos préférences.<br>
                    Cookies de ciblage : Utilisés pour vous proposer des publicités pertinentes.<br>
                    <br>
                    Gestion des cookies :<br>
                    <br>
                    Vous pouvez contrôler et gérer les cookies via les paramètres de votre navigateur. Notez que la désactivation des cookies peut affecter votre expérience <br>
                    <br>
                    Contact :<br>
                    Pour toute question sur notre politique de cookies, contactez-nous à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                </p>
    
    
            </div>

            <div class="divCGU3">
                <button class="btnCGU3" id="btnCGU3"><strong>3. Conditions Générales d'Utilisation</strong></button>
                <p id="pCGU3">
                    Forum2Etoile <br>
                    Date de mise à jour : 25/06/2024<br>
                    <br>
                    Introduction :<br>
                    <br>
                    Les présentes CGU régissent l'utilisation du site https://fr.forum2etoile.com/. En accédant et en utilisant le Forum, vous acceptez ces conditions.<br>
                    <br>
                    Accès au site :<br>
                    <br>
                    L'accès au site est gratuit. L'utilisateur s'engage à ne pas utiliser le site de manière abusive.<br>
                    <br>
                    Contenu publié par les utilisateurs :<br>
                    <br>
                    Les utilisateurs sont responsables du contenu qu'ils publient. Le Forum se réserve le droit de supprimer tout contenu inapproprié.<br>
                    <br>
                    Responsabilité :<br>
                    <br>
                    Le Forum décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation du site.<br>
                    <br>
                    Modification des CGU :<br>
                    <br>
                    Le Forum peut modifier les présentes CGU à tout moment. Les utilisateurs seront informés de ces modifications.<br>
                    <br>
                    Contact :<br>
                    <br>
                    Pour toute question relative aux CGU, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                </p>
    
    
            </div>


            <div class="divCPD4">
                <button class="btnCPD4" id="btnCPD4"><strong>4. Charte de Protection des Données</strong></button>
                <p id="pCPD4">
                    Forum2Etoile<br>
                    Date de mise à jour : 25/06/2024<br>
                    <br>
                    Introduction :<br>
                    <br>
                    La présente charte décrit les engagements de Forum2Etoile en matière de protection des données personnelles de ses utilisateurs.<br>
                    <br>
                    Collecte des données :<br>
                    <br>
                    Nous collectons uniquement les données nécessaires à la fourniture de nos services.<br>
                    <br>
                    Traitement des données :<br>
                    <br>
                    Les données sont traitées de manière transparente et sécurisée. Nous respectons les principes de minimisation des données et de limitation de la conservation. <br>
                    <br>
                    Sécurité des données :<br>
                    <br>
                    Nous mettons en œuvre des mesures techniques et organisationnelles pour protéger vos données contre tout accès non autorisé.<br>
                    <br>
                    Droits des utilisateurs :<br>
                    <br>
                    Vous avez le droit d'accéder, de rectifier, de supprimer vos données, et de vous opposer à leur traitement. Pour exercer ces droits, contactez-nous à forum2etoile@gmail.com ou au 09 08 07 06 05. <br>
                    <br>
                    Contact :<br>
                    <br>
                    Pour toute question sur notre charte de protection des données, veuillez nous contacter à forum2etoile@gmail.com ou au 09 08 07 06 05.<br>
                </p>
    
    
            </div>

            <div class="divFC5">
                <button class="btnFC5" id="btnFC5"><strong>5. Formulaire de Consentement</strong></button>
                <p id="pFC5">
                    Forum2Etoile<br>
                    <br>
                    Consentement pour le traitement des données personnelles<br>
                    <br>
                    En vous inscrivant sur Forum2Etoile, vous acceptez que vos données personnelles soient collectées et traitées conformément à notre Politique de Confidentialité.<br>
                    <br>
                    Nom : [Champ à remplir]<br>
                    Adresse e-mail : [Champ à remplir]<br>
                    <br>
                    Je consens à ce que mes données personnelles soient utilisées pour :<br>
                    <br>
                    La gestion de mon compte utilisateur.<br>
                    L'envoi de notifications et d'informations.<br>
                    Signature : [Champ à remplir]<br>
                    <br>
                    Date : [Champ à remplir]<br>
                </p>
    
    
            </div>


        </section>




    </main>
    <footer>
        <p>Forum &copy; 2024. Tous droits réservés.</p>
    </footer>


</body>
</html>