<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>

    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <header>
        <nav>
            <ul class="navUl">
                <li>
                    <a class="nav-link" href="/index">Menu</a>
                </li>
                <li>
                    <a class="nav-link" href="/profile">Votre profile</a>
                </li>
                <li>
                    <a  href="/logout">Se connecter</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <h1>Résultat de la recherche</h1>
        {{if .}}
            {{range .}}
            <section class="searchPost">
                <h2><a href="/info/{{.Id}}">{{.Title}}</a></h2>
                <p class="postContent">{{.Content}}</p>
                <p>Créer par {{.Author}} le {{.Date}}</p>
                <p>Likes: {{.Like}} | Dislikes: {{.Dislike}}</p>
                <p>Catégorie: {{.Category}}</p>
            </section>
            {{end}}
        {{else}}
            <p>No results found</p>
        {{end}}

    </main>

</body>
</html>
