<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>

    <link rel="stylesheet" href="/static/css/update_profile.css">
</head>
<body>
    <h1>Modifier le profile</h1>
    <section class="container">

        <form  action="/update-profile" method="post">
            <label for="newPseudo">Nouveau Pseudo:</label>
            <input type="text" id="newPseudo" name="newPseudo">
    
            <label for="newPassword">Nouveau Password:</label>
            <input type="password" id="newPassword" name="newPassword">
    
            <button type="submit" value="Update">Modifier</button>
        </form>

        <a class="backProfile" href="/profile">Retour</a>
    </section>

</body>
</html>