<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/user.css">

</head>

<body>
    <header>
        <nav>
            <ul class="navUl">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {{range .}}
        <h1>Profil de : {{.Name}}</h1>
        <div class="info">
            <h4><strong>Informations</strong></h4>
            <p>Nombre de poste créer : {{.Post}}</p>
        </div>
        {{end}}


    </main>

</body>

</html>